<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/img/favicon.ico"/>

    <title>
        {% if page.master_title %}
            {{ page.master_title }}
        {% else %}
            {% if page.title %}
                {{ page.title }} - Memorio - Senden Sie automatische Benachrichtigungen an Ihre Kunden
            {% else %}
                Memorio - Einfache Benachrichtigung für alle Arten von Unternehmen
            {% endif %}
        {% endif %}
    </title>
    <link href="/css/main.css" rel="stylesheet" media="screen">
</head>

<body>

<div id="wrap">
    <header class="navbar navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-comments"></i> Memorio</a>
            </div>

            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Kostenlos testen</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {{ content }}
</div>
<!-- / #wrap for sticky footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <p>
                    Haben Sie Fragen oder Feedback? Wir freuen uns über den Dialog mit Ihnen.
                    <br>
                    <a href="mailto:jannikweyrich@gmail.com">Schreiben Sie uns</a>
                </p>

            </div>


            <div class="col-md-6">

                <p class="pull-right">
                    &copy; 2014 Memorio
                    <br>
                    <a href="/about">Über Memorio</a> &middot; <a href="/privacy-policy">Impressum</a>
                </p>

            </div>

        </div>

    </div>
</footer>

<!-- JavaScript plugins (requires jQuery) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/libs/jquery/jquery-1.11.0.min.js"><\/script>')</script>


<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48914692-1', 'memor.io');
  ga('send', 'pageview');

</script>

</body>
</html>
